body {
	padding-top: 3.5rem;
}

main {
	margin-left: 25%;
	margin-right: 0px;
	text-align: center;
}

.starter-template {
	padding-top: 1.5rem;
}

.ui-autocomplete {
	z-index: 9999 !important;
	background-color: white; 
	width: 200px;
	border: solid 1px #ccc;
	border-radius: 4px;
	cursor: pointer;
	list-style-type: none;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
}

.ui-autocomplete:hover {
	border-color: #28a745;
}

.ui-helper-hidden-accessible {
	display: none;
}

.sidebar {
	background-color: #343a40 !important;
	min-width: 200px;
	width: 200px;
  	position: fixed;
  	top: 51px;
  	bottom: 0;
  	left: 0;
  	z-index: 1000;
  	padding-left: 0px;
  	padding-right: 1px;
  	overflow-x: hidden;
  	overflow-y: auto;
  	border-right: 1px solid #eee;
}

.sidebar .nav {
  	margin-bottom: 20px;
}

.sidebar .nav-item {
  	width: 100%;
}

.sidebar .nav-item + .nav-item {
 	margin-left: 0;
}

.sidebar .nav-link {
  	border-radius: 0;
}

.quickFriend {
	color: rgba(255,255,255,.5);
}

.quickFriend:hover {
	color: #28a745;
	border: solid 1px #28a745;
	border-radius: .25rem; 
}

.btn {
	text-align: left;
}

#friends {
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 10px;
	margin-top: 5px;
	color: #28a745;
	background-color: transparent;
	border: solid 1px #28a745;
	border-radius: .25rem; 
}

#friends:hover {
	color: white;
	background-color: #28a745;
}